Makefile
Makefile.in
.deps
*.rc
cacao-doom
cacao-heretic
cacao-hexen
cacao-server
cacao-strife
cacao-doom-setup
cacao-heretic-setup
cacao-hexen-setup
cacao-strife-setup
cacao-setup
*.cfg
*.exe
*.desktop
*.txt
!CMakeLists.txt
*.metainfo.xml
tags
TAGS
